.storybook-button {
  font-family: 'Pretendard', sans-serif;
  font-size: 18px; /* Unified font size */
  font-weight: 500; /* Use consistent font-weight */
  text-align: center;
  line-height: 1.2; /* 21.6px when font-size is 18px */
  letter-spacing: -0.5px;
  border: 1px solid #495EF6; /* Made border slightly thicker for visibility */
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  width: 341px; /* Default width */
  height: 56px; /* Default height */
  transition: background-color 0.3s, color 0.3s, opacity 0.3s; /* Smooth transitions for hover effects */
}

.storybook-button--primary {
  color: white;
  background-color: rgba(73, 94, 246, 1); /* Use RGBA for potential opacity changes */
}

.storybook-button--border {
  color: #495EF6;
  background-color: rgba(255, 255, 255, 1); /* Ensure full opacity for background */
}

.storybook-button--warning {
  color: white;
  background-color: rgba(255, 77, 79, 1);
  border-color: rgba(255, 77, 79, 1);
}

.storybook-button--primary:hover,
.storybook-button--border:hover,
.storybook-button--warning:hover {
  opacity: 0.9; /* Reduce opacity slightly to give a hover effect */
}

.storybook-button:disabled {
  background-color: rgba(178, 186, 194, 1); /* Consistent use of RGBA */
  color: white;
  border-color: rgba(178, 186, 194, 1);
  cursor: not-allowed; /* Ensure cursor indicates the button is disabled */
}